name: "Deploy frontend"
on:
  push:
    branches:
      - master
    paths:
      - 'packages/frontend/**'
env:
  cache-version: 1

jobs:
  build:
    name: "Build frontend"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/frontend
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Cache NPM dependencies"
        uses: actions/cache@v5
        with:
          path: "~/.npm"
          key: npm-dependencies-${{ runner.os }}-${{ env.cache-version }}-${{ hashFiles('package.json') }}
          restore-keys: |
            npm-dependencies-${{ runner.os }}-${{ env.cache-version }}-${{ hashFiles('package.json') }}
            npm-dependencies-${{ runner.os }}-${{ env.cache-version }}-

      - name: "Install NPM dependencies"
        run: |
          npm ci

      - name: "build"
        run: |
          npm run build

      - name: "Upload artifact"
        uses: actions/upload-artifact@v5
        with:
          name: "frontend"
          path: packages/frontend/dist

  deploy:
    name: "Deploy frontend"
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Download artifact"
        uses: actions/download-artifact@v6
        with:
          name: "frontend"
          path: packages/frontend/dist

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.7.4
        with:
          branch: gh-pages
          folder: packages/frontend/dist
          clean: true
          clean-exclude: |
            CNAME
            listings.json
            404.html
          single-commit: true
