name: "Collect"
on:
  workflow_call:
    secrets:
      PAT:
        required: true
env:
  cache-version: 1

jobs:
  collect:
    name: "Collect"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/collector
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Setup Node"
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "npm"
          cache-dependency-path: 'packages/collector/package-lock.json'

      - name: "Install NPM dependencies"
        run: |
          npm ci --omit=dev

      - name: "Collect"
        run: |
          npm run collect
        env:
          PAT: ${{ secrets.PAT }}

      - name: "Upload artifact"
        uses: actions/upload-artifact@v6
        with:
          name: "listings"
          path: listings.json
